<!DOCTYPE html>

<html lang="en-US">
  
<%- include('includes/sharedHead.ejs') %>

  <body>
    <header>
      <h1>Todo Tracker</h1>
      
    </header>

    <main>
      <%- include('includes/flashMessages.ejs') %>

      <section id="todos">
        <header>
          <h2>Editing <%= todoList.title %></h2>
          <ul>
            <li>
              <form action="/lists/<%= todoList.id %>/destroy" method="POST" class="delete">
                <button type="submit" class="delete">Delete List</button>
              </form>
            </li>
          </ul>
        </header>
      </section>

      <form action="/lists/<%= todoList.id %>/edit" method="POST">
        <dl>
          <dt>
            <label for="todoListTitle">Enter the new title for the list:</label>
          </dt>
          <dd>
            <input type="text" name="todoListTitle" placeholder="List Title" value="<%= todoListTitle || todoList.title %>">
          </dd>
        </dl>
        <fieldset class="actions">
          <input type="submit" value="Save">
          <a href="/lists/<%= todoList.id %>">Cancel</a>
        </fieldset>
      </form>
    </main>
  </body>

</html>